{% extends "base.html"%}

{% block title %}About{% endblock%}


{% block content%}

    <h1 class="about_greeting">About Us</h1>
    <div class="about_text">
        <p class="mission">
            We believe that technology should work for you, not the other way around. 
            That's why we've created Smart
            Home to simplify your life.
        </p>
        <br>

        <div class="instructions about-card">
            <i class="icon bx bx-stats" style="text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);"></i>
            <div class="instructions_text">
                <h2 style="text-align: center; padding: 10px;">Data</h2>
                <span>
                    The data page provides you with a comprehensive overview of your home automation system. With SmartHome, you can easily view and analyze data on your energy consumption, temperature, and more. Stay informed about your home's performance and optimize your usage to reduce costs and environmental impact.
                </span>
            </div>
          </div>

        <div class="instructions about-card">
            <div class="instructions_text">
                <h2 style="text-align: center; padding: 10px;">Control</h2>
                <span>
                    The control page is where you can take action and manage your devices with ease. From adjusting the thermostat to turning on the lights, SmartHome puts the power at your fingertips. Create schedules, set timers, and personalize your settings to suit your preferences and lifestyle.
                </span>
            </div>
            <i class="icon bx bxs-camera-home" style="text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);"></i>
        </div>

        <div class="instructions about-card">
            <i class="icon bx bxs-virus" style="text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);"></i>
            <div class="instructions_text">
                <h2 style="text-align: center; padding: 10px;">Irritants</h2>
                <span>
                    The control page is where you can take action and manage your devices with ease. From adjusting the thermostat to turning on the lights, SmartHome puts the power at your fingertips. Create schedules, set timers, and personalize your settings to suit your preferences and lifestyle.
                </span>
            </div>
        </div>
    </div>

    <div class="about-twitter">
        <h2>Follow Us on Twitter</h2>
        <p>Stay up to date with the latest news and updates from SmartHome by following us on Twitter.</p>
        <a href="https://twitter.com/your_username_here" target="_blank" rel="noopener noreferrer">
          <i class="bx bxl-twitter"></i> Follow @your_username_here
        </a>
    </div>
      

      

{% endblock %}